@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

@layer components {
 .user-glass-effect {
    @apply bg-white/35 backdrop-blur-md rounded-lg;
  } 
  .admin-glass-effect {
    @apply bg-white/10 backdrop-blur-md rounded-lg;
  } 
  
  .user-glass-effect-hover {
    @apply hover:bg-white/20 hover:backdrop-blur-lg transition-all duration-300;
  }

  .admin-glass-effect-hover {
    @apply hover:bg-white/20 hover:backdrop-blur-lg transition-all duration-300;
  }
  .normal-text-with-hover{
    @apply text-gray-700  hover:text-red-600 transition-all duration-300;
  }
}

/* Default background for user pages */
.user-layout {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  
}

.user-layout::before {
  content: '';
  position: fixed;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background-image: url('/modern-empty-room.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(70px);
  transform: scale(1);
  z-index: -2;
}

.user-layout::after {
  content: '';
  position: absolute;
  inset: 0;
  
  z-index: -1;
}

/* Background for admin pages */
.admin-layout {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.admin-layout::before {
  content: '';
  position: fixed;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background-image: url('/1000_F_613434134_h7UkLpyobuaGU9ZHES8jJ3nVTFNELquc.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(20px);
  transform: scale(1);
  z-index: -2;
}

.admin-layout::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}